<html>
  <meta charset="UTF-8" />
  <body>
    <h1>Login Page</h1>
    <div id="divError" class="hide"></div>
    <div class="justify-centered">
      <div class="container">
        <label for="uname"><b>Email</b></label>
        <input
          type="text"
          id="txtLogin"
          placeholder="Enter Email"
          name="email"
          required
        />

        <label for="psw"><b>Password</b></label>
        <input
          id="txtPassword"
          type="password"
          placeholder="Enter Password"
          name="psw"
          required
        />

        <button id="btnLogin" class="button" type="button">Login</button>
      </div>

      <ul>
        <li>angelo@6bdigital.com » psw: 123456789</li>
        <li>jack@javeloper.co.uk » psw: 123456789</li>
        <li>fabricedomingues7@gmail.com » psw: 123456789</li>
        <li>josh@joshwalshaw.com » psw: 123456789</li>
        <li>marcus.carreira@gmail.com » psw: 123456789</li>
      </ul>
    </div>
  </body>
</html>

<link rel="stylesheet" href="../styles/box.css" />
<link rel="stylesheet" href="../styles/button.css" />
<link rel="stylesheet" href="../styles/input.css" />

<script type="module">
  import dom from "../services/dom.js";
  import api from "../services/api.js";
  import auth from "../services/auth.js";
  import messageBox from "../services/messageBox.js";

  async function onLogin() {
    var login = dom.get("txtLogin").value;
    var password = dom.get("txtPassword").value;

    var loginCommand = { login, password };

    var result = await api.postAsync("api/identity/user/token", loginCommand);

    if (result.target.status == 200) {
      messageBox.hide("divError");
      auth.save(JSON.parse(result.target.response));
      window.location = "booking.html";
    } else {
      messageBox.showError("divError", result.target.responseText);
    }
  }

  dom.addClick("btnLogin", onLogin);
  auth.redirectToHomeWhenAuthenticated();
</script>

<style>
  .justify-50-centered {
    width: 50%;
    justify-content: center;
  }
  .justify-centered {
    width: 100%;
    justify-content: center;
  }
  
  .container {
    padding: 16px;
  }

  span.psw {
    float: right;
    padding-top: 16px;
  }

  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
</style>
